*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
body{
    background-color: rgb(71, 71, 48);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    
}
.containar{
     background-color: darkcyan;
     color: aliceblue;
     padding: 20px;
     border-radius: 10px;
     text-align: center;
}
.input_currency{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.output_currency{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.input_currency select{
    padding: 10px;
}
.output_currency select{
    padding: 10px;
}
.input_currency input{
    border: 0;
    background-color: transparent;
    font-size: 25px;
    text-align: right;
    color: aliceblue;
}
.output_currency input{
    border: 0;
        background-color: transparent;
        font-size: 25px;
        text-align: right;
        color: aliceblue;
}
.main p{
    font-size: 25px;
    font-weight: bolder;
}
select:focus,
input:focus{
     outline: none;
}