.tuhin{
    text-decoration: none;
    text-align: center;
    font-size: 100px;
    border: 10px solid black;
    background-color: pink;
}
#frm1{
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 255, 200);
    border: 2px solid red;
    background-color:yellow;
}
#frm1 input{
margin-top: 1rem;
text-align: center;
background-color: aqua;
color: azure;
}