.btn{
    border: 2px solid green;
    padding: 5px 15px 5px 15px;
    background-color: gray;
    border-radius: 10px;
    color: white;
    background-color: green;
}
.form{
    display: none;
    background-color: rgb(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;

    justify-content: center;
    align-items: center;
    
}
#form_element{
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0,0.3);
  display: flex;
  flex-direction: column;
}