*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.btn{
    background-color: aqua;
    padding:10px 10px 10px 10px;
    font-weight: bolder;
    font-size: 20px;
    box-shadow:1px 1px ;
    cursor: pointer;
}
.modal{
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 206, 206, 0.752);
    /* background-color: red; */
    display: none;
    
}

.mod{
    border: 1px solid lightgray;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: fit-content; 
}
#close{
    text-align: right;
    margin-bottom: 15px;
}
#form {

    padding-top: 10px;
    font-size: 20px;

}
#modal.active {
    display: flex;
}