*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#this_main_box{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}
#First{
    background-color: aqua;
    width: 50vw;
    height:  50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    flex-wrap:wrap;
}
.per_box{
   
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    
    
}
.Card_item{
    width: 200px;
    text-align:left
}

.button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.Myinput input{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
    }
.remove_box{
    cursor:pointer;
}