*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding-top: 60px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
#nav_bar{
    background-color:#F85606 ;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: fixed;
     width: 100%;
    /* position: fixed; */
        top: 0;
        left: 0;
        width: 100%;
        /* background: #fff; */
        z-index: 9999;
     
}
#upper{
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 30px;
     color: whitesmoke;
     font-weight: bolder;
    padding-left: 1140px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s ease;
    text-align: center;
}
#upper  :hover{
     transform: scale(1.05) translateY(-3px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.search_box{
    display: flex;
    margin: 20px;
    gap:20px;
    justify-content: center;
    align-items: center;
    
    
}
.search_box img{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.search_box input{
    height:60px;
    width: 650px;
    border: 3px solid goldenrod;
    border-radius: 10px;
    text-align: center;
    display: fixed;
}
#box {
    width: 45px;
    height: 45px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}
input::placeholder{
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search_box a{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 30px;
}
.search_box span:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.mid_element{
    margin-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
}
.containar{
    display: flex;
    flex-wrap: wrap;
  
    gap:10px;
    justify-content: center;
    justify-items: center;
}
.book_items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #F85606;
    width: 22%;
    border-radius: 10px;
    padding: 5px;
}
.containar img{
   height: 250px;
   width: auto;
   margin: 10px;
   border-radius: 10px;
   cursor: pointer;
}
.name{
    color: rgb(128, 58, 58);
    font-weight: bolder;
    margin-bottom: 5px;
}
.card_design{
    background-color:#F85606 ;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:2px solid aqua;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
}
.book_items:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}
/* .book_items :hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
} */
.card_design:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}





/* Adding media and query */

@media (max-width: 1200px) {
    #upper {
        padding-left: 300px;
    }

    .search_box input {
        width: 500px;
    }

    .book_items {
        width: 30%;
    }
}


@media (max-width: 992px) {
    #upper {
        padding-left: 0;
        gap: 10px;
        font-size: 12px;
    }

    .search_box {
        flex-direction: column;
        gap: 10px;
    }

    .search_box input {
        width: 90%;
        height: 50px;
    }

    .containar {
        gap: 20px;
    }

    .book_items {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .search_box input {
        width: 100%;
    }

    .book_items {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .search_box span a {
        font-size: 20px;
    }

    .search_box input {
        width: 100%;
        height: 45px;
        font-size: 18px;
    }

    .containar img {
        height: 180px;
    }

    .book_items {
        width: 100%;
    }
}
